<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!--import de boostrap-->
    <link rel="stylesheet" th:href="@{sandstone.min.css}"></link>
    <link rel="stylesheet" th:href="@{style.css}"></link>


    <title>SoloToBand</title>
</head>

<body>
   
    <div class= "container"> <!--div page boostrap-->
        <header>

                <h1 class="tirtre-index">Annonce des musiciens</h1>


        <div th:replace="header :: top"></div> <!--Ajout du header-->
        </header>
        <br />
        <form method="POST" action="#" th:action="@{/groupe}" th:object="${groupe}"> <!--methode post pour enregistrer 
                                                    les données et afficher la page de 
                                                    feedback-->

         <div class= "row mb-2 mt-2" > <!--div ligne boostrap -->
            <div class="col-3"> 
                <p th:if="${#fields.hasErrors('nameGroupe')}" th:errors="*{nameGroupe}" />
                 <!--syntaxe thymeleaf pour les validateurs -->
                <label for="nameGroupe">Nom du groupe:</label>
                <input id="nameGroupe" name="nameGroupe" placeholder="Electronics Chewing Gum" required type="text" th:field="*{nameGroupe}">
                <br><br>
            </div>

            <div class="col-3"> 
                <p class="validation" th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}"/>
                <label for="contactName">Nom du contact:</label>
                <input id="contactName" name="contactName" placeholder="Richard" required type="text" th:field="*{contactName}">
                <br><br>
            </div>

            <div class="col-3">
                <p class="validation" th:if="${#fields.hasErrors('groupPhone')}" th:errors="*{groupPhone}"/>
                <label for="groupPhone">Téléphone:</label>
                <input id="groupPhone" name="groupPhone" placeholder="06xxxxxxxx" required type="tel" th:field="*{groupPhone}">
                <br><br>
            </div>

            <div class="col-3"> 
                <p class="validation" th:if="${#fields.hasErrors('groupMail')}" th:errors="*{groupMail}"/>
                <label for="groupMail">Email:</label>
                <input id="groupMail" name="groupMail" placeholder="Richard@gotainer.lol" required type="email" th:field="*{groupMail}">
                <br><br>
            </div>
         </div>

         <div class= "row mb-2 mt-2" >
            <div class="col-3"> 
                <p class="validation" th:if="${#fields.hasErrors('instrument')}" th:errors="*{instrument}"/>
                <label for="instrument">Instrument:</label>
                <input id="instrument" name="instrument" placeholder="piano" required type="text" th:field="*{instrument}">
                <br><br>
            </div>

            <div class="col-3">
                <p class="validation" th:if="${#fields.hasErrors('departement')}" th:errors="*{departement}"/>
                <label for="departement">Départment:</label>
                <input id="departement" name="departement" placeholder="974" required type="text" th:field="*{departement}">
                <br><br>
            </div>

            <div class="col-3">
                <p class="validation" th:if="${#fields.hasErrors('musicFlux')}" th:errors="*{musicFlux}"/>
                <label for="musicFlux">Courant musical:</label>
                <input id="musicFlux" name="musicFlux" placeholder="Grunge" required type="text" th:field="*{musicFlux}">
                <br><br>
            </div>
        
            <div class="col-3">
                <label for="level">niveau:</label>
                <select id="level" name="level" required type="text">
                        <option>Débutant</option>
                        <option>Intermédiaire</option>
                        <option>Confirmé</option>
                        <option>Expert</option>
                </select>
            </div>
         </div>
         <div class= "row mb-2 mt-2" >
            <div class="col-10"> 
                <p class="validation" th:if="${#fields.hasErrors('groupInfo')}" th:errors="*{groupInfo}"/>
                <label for="groupInfo">Informations sur le groupe:</label>
                <textarea class="form-control" id="groupInfo" rows="5" col="12" name="groupInfo" placeholder="Présentez votre groupe" required type="text" th:field="*{groupInfo}"></textarea>
            
            </div>
        </div>
        

            <div class="row mt-5"> <!--bouton-->
            <div class="col-5">
                <p class="validation" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"/>
                <label for="image">Copiez ici l'url de votre image:</label>
                <input  id="image" name="image" placeholder="http//" required type="text" th:field="*{image}"></input>
            </div>
            <div class="col-4">   
                <div class="bouton">
                    <input type="submit" value="Enregistrer l'annonce">
                </div>
            </div>
            </div>
            <br /><br />
    </form>


        <footer th:replace="footer :: foot"></footer> <!--Ajout du footer-->

     </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>