<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--import de boostrap-->
  <link rel="stylesheet" th:href="@{sandstone.min.css}">
  </link>
  <link rel="stylesheet" th:href="@{style.css}">
  </link>
  <title>SoloToBand</title>
</head>

<body>

  <div class="container">
    <!--div page boostrap-->
    <header>

        <!--div ligne boostrap header-->

          <h1 class="tirtre-index">SoloToBand</h1>

      <div th:replace="header :: top"></div>

    </header>

    <h2>Bienvenue sur SoloToBand, le bon coin des zicos !</h2>

    <br><br>
    <div class=" container">
      <div class="row">
        <div class ="col-lg col-md-2">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Pourquoi ce site?</div>
              <div class="card-body">
                <p class="card-text">Parce qu'il y en avait marre des sites surchargés de beaucoup de chose sauf de l'essentiel...
                  Une interface simple et efficace pour trouver les personnes dont on a besoin et créer de nouvelles
                  rencontres musicales..</p>
              </div>
            </div>
        </div>
        <div class="col-lg col-md-2">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header" ><a href="#Help">Comment utiliser ce site?</a></div>
              <div class="card-body">
                <p class="card-text">Comme vous l'avez surement déjà compris, le site est très simple d'utilisation. On clique sur chercher un
                  groupe lorsque l'on est musicien et que l'on cherche un groupe. On lance la recherche et si vous ne trouvez
                  pas du premier coup, ce n'est pas grave, il reste d'autres options.<br>
                  Si vous représenter un groupe et que vous cherchez un ou des musiciens, il vous suffit de cliquer sur le
                  dépôt
                  d'annonce et de valider le formulaire. D'ici quelques temps, quelqu'un vous contactera.</p>
              </div>
            </div>
        </div>
        <div class="col-lg col-md-2">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Qui sommes nous?</div>
              <div class="card-body">
                <p class="card-text">Nous sommes une petite équipe d'étudiants en développement web et ce site correspond à un de nos projets
                  d'étude.
                  Nous sommes sympa, investi et mélo méli toutatti... En gros, on s'arrache pour vous fournir le meilleur
                  service
                  qui soit.</p>
              </div>
            </div>
        </div>


      </div>
    </div>


    <br>
    <br>




    <footer th:replace="footer :: foot">
      <!--départ fragment importation-->
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

  </div>
</body>

</html>