<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--import de boostrap-->
    <link rel="stylesheet" th:href="@{sandstone.min.css}">
    </link>
    <link rel="stylesheet" th:href="@{style.css}">
    </link>
    <title>SoloToBand</title>
</head>

<body>

    <div class="container">
        <!--div page boostrap-->
        <header>
            <h1 class="tirtre-index">Le coin des musiciens</h1>

            <div th:replace="header :: top"></div>
            <!--Ajout du header-->
        </header>
        <br /><br />


        <form method="GET" th:action="@{musicien/resultats}">
            <!--methode get, à voir comment envoyer les données-->

            <div class="row my-2">
                <!--div ligne boostrap choix multiple-->
                <div class="col-lg-3">
                    <legend>Instrument</legend>
                    <select class="custom-select" name="instrument">
                        <!--Boucle à faire avec BDD-->
                        <option>guitare</option>
                        <option>Flûte</option>
                        <option>Baterie</option>
                        <option>Basse</option>
                        <option>Piano</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <legend>Courant musical</legend>
                    <select class="custom-select" name="musicFlux">
                        <!--Boucle à faire avec BDD-->
                        <option>Rock</option>
                        <option>Jazz</option>
                        <option>classique</option>
                        <option>Electronique</option>
                        <option>Latino</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <legend>Département</legend>
                    <select class="custom-select" name="departement">
                        <!--Boucle à faire avec BDD-->
                        <option>07</option>
                        <option>37</option>
                        <option>974</option>
                        <option>31</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <legend>Niveau</legend>
                    <select class="custom-select" name="level">
                        <!--Boucle à faire avec BDD-->
                        <option>Débutant</option>
                        <option>Intermédiaire</option>
                        <option>Confirmé</option>
                        <option>Expert</option>
                    </select>
                </div>
            </div>
            <br>
            <br>
            <br>



            
                <div class="modal-footer mt-5">
                                <input class="modal-footer mt-5" type="submit" value="Rechercher" id="rechercher" />
                            </div>

            <br /><br />
        </form>

        <br>
        <br>



        <footer th:replace="footer :: foot"></footer>
        <!--Ajout du footer-->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    </div>
</body>


</html>