<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--import de boostrap-->
    <link rel="stylesheet" th:href="@{/sandstone.min.css}">

    <link rel="stylesheet" th:href="@{/style.css}">

    <title>SoloToBand</title>
  </head>


<body>

    <div class=container>
        <!--div page boostrap-->
        <header>

                <h1 class="tirtre-index">Résultat de recherche</h1>

      
            <div th:replace="header :: top"></div>
      
          </header>
      
        <br />
        <br />

        
        <h3 class="lg-display-4 text-center">Nous avons trouvé ceci :</h3>
        <hr class="my-4">
        <div class="d-flex align-content-stretch flex-wrap">
        <ul class="list-group col-form-label-sm col-lg-5 ml-4 mr-5" th:each="groupe : ${groupes}" >
                <li class="list-group-item" th:text="|Nom: ${groupe.nameGroupe}|">$nameGroupe</li>
                <img class="img-fluid" th:src="${groupe.image}">
                <li class="list-group-item" th:text="|Nom contact: ${groupe.contactName}|">$contactName</li>
                <li class="list-group-item" th:text="|Telephone: ${groupe.groupPhone}|">$groupPhone</li>
                <li class="list-group-item" th:text="|Email: ${groupe.groupMail}|">$groupMail</li>
                <li class="list-group-item" th:text="|Instrument: ${groupe.instrument}|">$instrument</li>
                <li class="list-group-item" th:text="|Courant musical: ${groupe.musicFlux}|">$musicFlux</li>
                <li class="list-group-item" th:text="|Niveau: ${groupe.level}|">$level</li>
                <li class="list-group-item" th:text="|Département: ${groupe.departement}|">$departement</li>
                <li class="list-group-item" th:text="|Info: ${groupe.groupInfo}|">$groupInfo</li>
                <hr class="my-4">
            </ul>
          </div>
        <p class="lead text-center">
          <a class="btn btn-secondary" href="/musicien" role="button">OK</a>
        </p>

        <br>
        <br>

        <footer th:replace="footer :: foot">
            <!--départ fragment importation-->

        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>

 </div>

  </body>
  
  
  </html>